
<mat-dialog-content>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                {{data.name}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <label>Name:</label>
            <p>{{data.name}}</p>
            <label>Email:</label>
            <p>{{data.email}}</p>
            <label>Address:</label>
            <p>{{data.address}}</p>
            <label>Contact:</label>
            <p>{{data.contact}}</p>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>

